.card {
    width: 290px;
    border: 1px solid black;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.5); 
    transition: transform 0.35s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(123, 41, 174, 0.29);
}

.card:hover {
    transform: scale(1.05);
}

.card h1 {
    padding: 10px
}
